{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre projet !{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="myproject.css">{% endblock %}

{% block body %}
<div> hello boy </div>

<div class="col-md-3" >
 
 <a  class="btn btn-primary" data-toggle="collapse" href="#collapse1">Liste des étudiants</a>
 
 <div id="collapse1" class="panel-collapse collapse">
 {% for etudiant in etudiants %}
        <div class="panel-body">{{etudiant.prenom}} {{etudiant.nom}}</div>
    
  {% endfor %}
  </div>

</div>

<div class="col-md-3" >
 
  <a  class="btn btn-primary" data-toggle="collapse" href="#collapse2">Inviter un etudiant</a> 
 
 <div id="collapse2" class="panel-collapse collapse">

 
  </div>

</div>



<div class="text-right" >
  <a href = "{{ path('quitter_groupe') }}" class="btn btn-danger" onclick="if(!confirm('Voulez vous vraiment quitter ce groupe?' )) { return false; }"> Quitter le groupe  </a>

</div>



<div class="table">
  <h2 class="heading">
    À faire
  </h2>
  <div class="block">
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche H</a>
      </li>
    </ul>
</div>
<div class="block">
    <ul class="options">
       <li>
        <a class="nav-link" href="">Tâche G</a>
      </li>
    </ul>
</div>
<div class="block">   
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche F</a>
      </li>
    </ul>
</div>
</div>

<div class="table">
  <h2 class="heading">
    En cours
  </h2>
  <div class="block"> 
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche E</a>
      </li>
    </ul>
</div>
<div class="block">
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche D</a>
      </li>
    </ul>
</div>
<div class="block">
    <ul class="options">
        <li>
        <a class="nav-link" href="">Tâche C</a>
      </li>
    </ul>
 </p>
</div>
</div>


<div class="table">

  <h2 class="heading">
      Fait
    </a>
  </h2>
  <div class="block">
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche B</a>
      </li>
    </ul>
</div>
<div class="block">
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche A</a>
      </li>
    </ul>
</div>
</div>

{% endblock %}

