{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre projet !{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="myproject.css">{% endblock %}

{% block body %}
<div class="table">
  <h2 class="heading">
    À faire
  </h2>
  <div class="block">
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche H</a>
      </li>
    </ul>
</div>
<div class="block">
    <ul class="options">
       <li>
        <a class="nav-link" href="">Tâche G</a>
      </li>
    </ul>
</div>
<div class="block">   
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche F</a>
      </li>
    </ul>
</div>
</div>

<div class="table">
  <h2 class="heading">
    En cours
  </h2>
  <div class="block"> 
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche E</a>
      </li>
    </ul>
</div>
<div class="block">
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche D</a>
      </li>
    </ul>
</div>
<div class="block">
    <ul class="options">
        <li>
        <a class="nav-link" href="">Tâche C</a>
      </li>
    </ul>
 </p>
</div>
</div>


<div class="table">

  <h2 class="heading">
      Fait
    </a>
  </h2>
  <div class="block">
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche B</a>
      </li>
    </ul>
</div>
<div class="block">
    <ul class="options">
      <li>
        <a class="nav-link" href="">Tâche A</a>
      </li>
    </ul>
</div>
</div>

{% endblock %}

