{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/myproject.css')}}">
{% endblock %}

{% block body %}




<div class="table">

  <h2 class="heading">
         {{reunion.titre }}
  </h2>

    <div class="block">
        <ul class="options">
          <li>
          <div class="title">Description de la réunion : </div>
                    <div>{{ reunion.description }}</div>
                    <div class="title">Pour la prochaine fois : </div>
                    <div>{{ reunion.afaire | raw }}</div>
           
          </li>
        </ul>
    </div>
 
</div>

{% endblock %}