{% extends "base.html.twig" %}

{% block title 'Gérer les étudiants' %}

{% block body %}
    <div class="container mt-4">

    <div class="jumbotron text-center">
        <h1>Vos groupes</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Semestre</th>
            <th>Nom</th>
            <th>Sujet</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        </table>
    </div>
    
{% endblock %}