{% extends "base.html.twig" %}

{% block body %}

<div class="container mt-4">

<legend style="margin-top:40px;">Vos fonctionnalités</legend>
    

    <hr style = "border: 10px solid white;">

        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('admin_liste_etudiant') }}" class="btn btn-outline-primary">Liste des étudiants</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('admin_liste_tuteur') }}" class="btn btn-outline-primary">Liste des tuteurs</a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('admin_liste_groupe') }}" class="btn btn-outline-primary">Liste des groupes</a>
            </div>
        </div>

    <hr style = "border: 10px solid white;">

</div>

{% endblock %}